/* General Styles */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5da3b8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
   
    margin: 20px 0;
    padding: 20px;
}

section h2 {
    color: #5da3b8;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

section p {
    font-size: 16px;
}

section ul {
    list-style-type: none;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}

section ul li:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

#work-samples {
    text-align: center;
    margin-top: 50px;
}

.work-sample {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
}
.project img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.1);
}

.project p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.project a {
    text-decoration: none;
    color: inherit;
}



#contact-me form {
    max-width: 500px;
    margin-top: 20px;
    margin: 20px auto;
}

#contact-me label {
    display: block;
    margin-bottom: 5px;
}

#contact-me input,
#contact-me textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-me button {
    background-color: #5da3b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-me button:hover {
    border: #5da3b8 1px solid;
    color: #5da3b8;
    background-color: #fff;
}


